*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    text-decoration: none;
}
.end-page{
    height: 100vh;
    width: 100%;
    background-image: url("../img/pool2.jpg");
    background-size: cover;
    display: flex;
    align-items: center; 
}
.end-page .navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.end-page .navigation .arrow-back{
    padding-left: 2%;
    margin-right: auto;
    font-size: 300%;
    color: white;
}
ion-icon {
    filter: drop-shadow(0 0 4px white);
  }

.back-to-home-button {
    width: 330px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 25px;
    margin: 50px auto;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.back-to-home-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}