*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    text-decoration: none;
    background: #1f2028;
}

.end-page{
    height: 100vh;
    width: 100%;
    /* background-image: url("../img/pool2.jpg"); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .centered-text {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
  }
  
  .centered-text p {
    font-size: 2.0rem;
    line-height: 2rem;
    margin-bottom: 5rem;
  }
  
  .back-to-home-button {
    display: block;
    width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .back-to-home-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  
  .end-page .navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .end-page .navigation .arrow-back{
    padding-left: 2%;
    margin-right: auto;
    font-size: 300%;
    color: white;
  }
  
  ion-icon {
    filter: drop-shadow(0 0 4px white);
  }

h2{
  color: #fff;
  /* margin-bottom: 10%; */
  padding-bottom: 5%;
}

.typewrite{
  color: #fff;
  padding-left: 50px;
  font-size: 200%;

}