/* Styling for all elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    text-decoration: none;
}

.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: aqua;
    background-image: url("../img/water6.jpg");
    background-size: cover;
}


.container .navigation{
    grid-row: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.container .navigation .arrow-back{
    padding-left: 2%;
    margin-right: auto;
    font-size: 300%;
    color: white;
}
.container .navigation .arrow-forward{
    padding-right: 2%;
    margin-left: auto;
    font-size: 300%;
    color: white
}
ion-icon {
    filter: drop-shadow(0 0 4px white);
  }

#text{
    font-weight: 600;
    filter: drop-shadow(0 0 4px rgb(255, 255, 255));
    color: rgb(43, 16, 81);
    grid-row: 3;
    display: block;
}