*{
    margin: 0;
    padding: 0;
}

/* section positiong relative with items in center */ 
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bubble styling */
section span{
    position: absolute;
    bottom: -50px;
    background: transparent;

    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(225, 255, 255, 0.5);
    animation: animate 4s linear infinite;
}

/* add bubble shine for more realistic look */
section span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%, -70%);
    background: radial-gradient(#fff, transparent);
    border-radius: 50%;
}

/* move bubbles up animation*/
@keyframes animate {
    0%{ 
        transform: translateY(0%);
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        transform: translateY(-1200%);
        opacity: 1;
    }
    
}

/* 
 set navigation items to be in the center with space in between 
*/
.navigation{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* back arrow styling */
.navigation .arrow-back{
    padding-left: 2%;
    margin-right: auto;
    font-size: 300%;
    color: white;
}

/* forward arrow styling */
.navigation .arrow-forward{
    padding-right: 2%;
    margin-left: auto;
    font-size: 300%;
    color: white
}

/* icon styling with white shadow for glow effect */
ion-icon {
    filter: drop-shadow(0 0 4px white);
}