*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    text-decoration: none;
}
.scene-2{
    height: 100vh;
    width: 100vw;
    background-image: url("../img/olympic-pool.jpg");
    background-size: cover;
    display: grid;
    grid-template-rows: auto auto auto;
}
.scene-2 .navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    grid-row: 2;

}
.scene-2 .navigation .arrow-back{
    padding-left: 2%;
    margin-right: auto;
    font-size: 300%;
    color: white;
}
.scene-2 .navigation .arrow-forward{
    padding-right: 2%;
    margin-left: auto;
    font-size: 300%;
    color: white
}
ion-icon {
    filter: drop-shadow(0 0 4px white);
}

.kid{
    left: 0;
    /* height: 100vh;
    width: 100vw; */
}

#kid{
    position: absolute;
    display: flex;
    align-items: center;
    grid-row: 1;
    width: 20%;
    left: 0;
}

@media (max-width: 400px) {
    .kid img{
        width: 40%;
    }
}
.instructions{
    align-items: center; 
    grid-row: 3;
}
.instructions h1{
    color: rgb(43, 16, 81);
    font-weight: 1000;
    font-size: 200%;
}