body{
    margin: 0px;
    overflow: hidden;
}

/* make sure positioning for all divs is absolute*/
div{
    position: absolute;
}

/* sky div background styling */
.sky{
    height: 40%;
    width: 100%;
    background: linear-gradient(to bottom, #ffa25b 0%, #f75858 100%);
}

/*  add clout animation eveny 60s */
.cloud{
    right: 0;
    position: absolute;
    height: 30%;
    animation: cloud 60s infinite;
}

/* translating X every frame for cloud movement effect  */
@keyframes cloud {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(40%)
    }
}

/* sea div background styling */
.sea{
    height: 30%;
    width: 200%;
    left: -50%;
    top: 40%;
    border-radius: 0 0 50% 50%;
    background: linear-gradient(to bottom, rgb(126, 1, 36) 0%, rgb(243, 81, 0) 25%, rgb(255, 176, 124) 50%, rgb(210, 247, 255) 75%, rgb(244, 255, 236) 100%);
    animation: wave ease-in-out 10s infinite;
    transform-origin: 50% 0%;
    overflow: hidden;
}

/* wave animation by expanding the div y axis every frame */
@keyframes wave {
    0%{
        transform: scaleY(1);
    }
    35%{
        transform: scaleY(1.3);
    }
    69%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(1);
    }
}

/* seafoam  div background styling */
.seafoam{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, transparent 90%, white 100%);
    animation: seafoam ease-in-out 10s infinite;
}

/* seafoam  opacity changes gradually within every frame for foaming effect */
@keyframes seafoam {

    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* sand div background styling */
.sand{
    height: 35%; 
    width: 100%; 
    background: #fdf1d7;
    top: 65%;
}

/* sand front div background styling */
.sand-front{
    height: 10%;
    width:100%;
    background: #fdf1d7;
    top:90%;
}

/* wet sand div background styling */
.wet-sand{
    height: 37.5%;
    width: 200%; 
    left: -50%; 
    top: 40%; 
    border-radius: 0 0 50% 50%;
    background: #ecc075;
    box-shadow: 0 10px 10px 0 #ecc075;
    animation: wetsand ease-in-out 10s infinite;
}

/* wet sand  opacity changes gradually within every frame for wet sand drying effect*/
@keyframes wetsand {

    0%{
        opacity: 0.2;
    }
    34%{
        opacity: 0.2;
    }
    35%{
        opacity: 0.7;
    }
    100%{
        opacity: 0.2;
    }
}

/* 
 set navigation items to be in the center with space in between 
*/
.navigation{
    padding-top: 45vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* back arrow styling */
.navigation .arrow-back{
    padding-left: 2%;
    margin-right: auto;
    font-size: 300%;
    color: white;
}

/* forward arrow styling */
.navigation .arrow-forward{
    padding-right: 2%;
    margin-left: auto;
    font-size: 300%;
    color: white
}

/* icon styling with white shadow for glow effect */
ion-icon {
    filter: drop-shadow(0 0 4px white);
}