*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    text-decoration: none;
}

/*
1. background image and size of scene 
2. display grid of three rows to help with placing the elements 
*/
.scene-2{
    height: 100vh;
    width: 100vw;
    background-image: url("../img/olympic-pool.jpg");
    background-size: cover;
    display: grid;
    grid-template-rows: auto auto auto;
}

/* 
1. set grid row to middle row 
2. set navigation items to be in the center with space in between 
*/

.scene-2 .navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    grid-row: 2;

}

/* back arrow styling */
.scene-2 .navigation .arrow-back{
    padding-left: 2%;
    margin-right: auto;
    font-size: 300%;
    color: white;
}

/* forward arrow styling */
.scene-2 .navigation .arrow-forward{
    padding-right: 2%;
    margin-left: auto;
    font-size: 300%;
    color: white
}

/* icon styling with white shadow for glow effect */
ion-icon {
    filter: drop-shadow(0 0 4px white);
}

/* kid div styling */
.kid{
    left: 0;
}

/* place kid in the first grid row */
#kid{
    position: absolute;
    display: flex;
    align-items: center;
    grid-row: 1;
    width: 20%;
    left: 0;
}

/* responsive styling */
@media (max-width: 400px) {
    .kid img{
        width: 40%;
    }
}

/* place instructions text in grid row three in the center */
.instructions{
    align-items: center; 
    grid-row: 3;
}

/* text styling */
.instructions h1{
    color: rgb(43, 16, 81);
    font-weight: 1000;
    filter: drop-shadow(0 0 4px rgb(255, 255, 255));
    font-size: 2vw;
}