/* Styling for all elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    text-decoration: none;
}

body{
    background-color: aqua;
}

.scene-1{
    height: 100vh;
    width: 100%;
    background: url("img/water.jpg") center center;
    /* background-color: black; */
    background-size: cover;
}